div {
    margin: auto;
    width: 35%;
    margin-top: 1em;
}
input {
    width: 100%;
    font-size: var(--fontSizeNormal);
}
section {
    border: solid 1px gray;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    min-height: 75vh;
    overflow: scroll;
    max-height: 100vh;
}