input {
    width: 100%;
    font-size: var(--fontSizeNormal);
}
#courseContainer {
    min-height: 75vh;
    overflow: scroll;
    max-height: 100vh;
}
#courseWrapper {
    border: solid 1px gray;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    max-width: 1400px;
}
th {
    cursor: pointer;
    text-align: left;
    font-size: var(--fontSizeTableTop);
    padding-right: 0.2em;
}
td {
    padding-top: 0.25em;
}
th:hover {
    background-color: var(--highLightColor);
    cursor: pointer;
}
td:hover {
    border: solid 1px black;
}
span {
    margin: 0.4em;
}
button {
    white-space: nowrap;
}
#search {
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
}
#lowerSearch {
    margin-top: 0.5em;
    display: flex;
    justify-content: left;
    max-width: 100%;
}
#lowerSearch div {
    max-width: 50%;
    margin-right: 1em;
}
#lowerSearch div select {
    max-width: 75%;
}
#lowerSearch div label {
    width: 20%;
    padding-right: 1em;
}

@media screen and (max-width: 800px) {
    #lowerSearch div {
        overflow: scroll;
    }
    #lowerSearch div select {
        max-width: 90%;
    }
}   