<div>
    <form [formGroup]="formHandle">
        <label for="courseSearch">Sök Kurs:</label>
        <input type="search" id="courseSearch" formControlName="input" (input)="search()" value={{formHandle.value.input}}>
    </form>
    <select *ngFor="let courseCode of content; let i = index;">
        <option></option>
    </select>
</div>
<section id="courseContainer">
    <span>Visar 300 utav {{content.length}}</span>
    <table>
        <thead>
            <tr>
                <th (click)="sort(0)">Kurskod:</th>
                <th (click)="sort(2)">Nivå:</th>
                <th (click)="sort(3)">Progression:</th>
                <th (click)="sort(4)">Kursnamn:</th>
                <th (click)="sort(5)">Poäng:</th>
                <th (click)="sort(7)">Ämne:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let courseCode of content | slice:0:300; let i = index;">
                <td>{{content[i].courseCode}}</td>
                <td>{{content[i].level}}</td>
                <td>{{content[i].progression}}</td>
                <td><a a href="{{content[i].syllabus}}">{{content[i].courseName}}</a></td>
                <td>{{content[i].points}}</td>
                <td>{{content[i].subject}}</td>
                <td><button (click)="add(content[i])">Lägg till</button></td>
            </tr>
        </tbody>
    </table>
</section>