header {
    background-color: var(--containerColor);
    height: 8em;
    border-bottom: 1px black solid;
    padding-bottom: 0.5em;
}
header, div {
    display: flex;
}
div {
    margin: auto;
    margin-right: 3em;
    justify-content: space-around;
}
a {
    text-decoration: none;
    margin: 0;
}
h1, h2 {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}
h1 {
    font-size: var(--fontSizeLargest);
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.25em;
}
h2 {
    font-size: var(--fontSizeLarge);
    margin-left: 0.75em;
    margin-right: 0.75em;
}
a:hover {
    text-decoration: underline;
    background-color: var(--highLightColor);
}