:root {
    --containerColor: #f4b738;
    --highLightColor: #f7c557;
    --fontSizeNormal: 1.4em;
    --fontSizeLarge: 3em;
    --fontSizeTableTop: 2em;
    --fontSizeLargest: 5em;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
}
p, label, tr {
    font-size: var(--fontSizeNormal);
}
#wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6em; 
}